Repository boostcampwm2023/and03_movemove, pull requests merged in 2023-12, with the labels that each got.

#166 영상 업로드 API 연동
  client/data/src/main/java/com/everyone/data/base/ApiResponse.kt
  client/data/src/main/java/com/everyone/data/remote/NetworkHandler.kt
  client/data/src/main/java/com/everyone/data/remote/RemoteConstants.kt
  client/data/src/main/java/com/everyone/data/remote/model/CreatedVideoResponse.kt
  client/data/src/main/java/com/everyone/data/remote/model/VideoUploadUrlResponse.kt
  client/data/src/main/java/com/everyone/data/repository/VideosRepositoryImpl.kt
  client/domain/src/main/java/com/everyone/domain/model/Category.kt
  client/domain/src/main/java/com/everyone/domain/model/CreatedVideo.kt
  client/domain/src/main/java/com/everyone/domain/model/VideoUploadUrl.kt
  client/domain/src/main/java/com/everyone/domain/repository/VideosRepository.kt
  client/domain/src/main/java/com/everyone/domain/usecase/PostExtensionInfoUseCase.kt
  client/domain/src/main/java/com/everyone/domain/usecase/PostVideoInfoUseCase.kt
  client/domain/src/main/java/com/everyone/domain/usecase/PutFileUseCase.kt
  client/presentation/src/main/java/com/everyone/movemove_android/di/UseCaseModule.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/Dialogs.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/uploading_video/UploadingVideoContract.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/uploading_video/UploadingVideoScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/uploading_video/UploadingVideoViewModel.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/uploading_video/VideoTrimmer.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/util/ImageUtil.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/util/VideoUtil.kt
  client/presentation/src/main/res/values/strings.xml
Labels: android, feat

#169 ImageCropper 코드 가독성 개선
  client/presentation/src/main/java/com/everyone/movemove_android/ui/image_cropper/ImageCropperViewModel.kt
Labels: android, refactor

#174 토큰 및 UserId 관리 객체 구현
  client/data/build.gradle.kts
  client/data/src/main/java/com/everyone/data/local/UserInfoManager.kt
  client/gradle/libs.versions.toml
  client/presentation/build.gradle.kts
  client/presentation/src/main/java/com/everyone/movemove_android/di/CoroutineDispatcherModule.kt
  client/presentation/src/main/java/com/everyone/movemove_android/di/CoroutineDispatcherQualifiers.kt
  client/presentation/src/main/java/com/everyone/movemove_android/di/RepositoryModule.kt
  client/presentation/src/main/java/com/everyone/movemove_android/di/UserInfoManagerModule.kt
Labels: android, feat

#167 마이 화면 프로필 조회 API 연동
  client/data/src/main/java/com/everyone/data/remote/model/ProfileResponse.kt
  client/data/src/main/java/com/everyone/data/repository/UserRepositoryImpl.kt
  client/domain/src/main/java/com/everyone/domain/model/Profile.kt
  client/domain/src/main/java/com/everyone/domain/repository/UserRepository.kt
  client/domain/src/main/java/com/everyone/domain/usecase/GetProfileUseCase.kt
  client/presentation/src/main/java/com/everyone/movemove_android/di/RepositoryModule.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/my/MyContract.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/my/MyScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/my/MyViewModel.kt
Labels: android, feat

#164 비디오 업로드 예외처리
  server/.gitignore
  server/src/auth/auth.controller.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.ts
  server/src/exceptions/bad-request-format.exception.ts
  server/src/exceptions/enum/exception.enum.ts
  server/src/exceptions/video-conflict.exception.ts
  server/src/presigned-url/dto/advertisement-presigned-url-request.dto.ts
  server/src/presigned-url/dto/profile-presigned-url-request.dto.ts
  server/src/presigned-url/dto/reissue-presigned-url-request.dto.ts
  server/src/presigned-url/dto/signup-profile-presigned-url-request.dto.ts
  server/src/presigned-url/dto/video-presigned-url-request.dto.ts
  server/src/presigned-url/presigned-url.controller.ts
  server/src/presigned-url/presigned-url.service.ts
  server/src/user/dto/rated-video-request.dto.ts
  server/src/user/dto/uploaded-video-request.dto.ts
  server/src/video/dto/video-rating.dto.ts
  server/src/video/video.controller.ts
  server/src/video/video.service.ts
Labels: backend, feat

#184 마이화면 프로필이미지,닉네임 앱에 연동
  client/presentation/src/main/java/com/everyone/movemove_android/ui/my/MyContract.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/my/MyScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/my/MyViewModel.kt
  client/presentation/src/main/res/values/strings.xml
Labels: android, feat

#187 하나의 ExoPlayer에서 여러개의 영상이 동시 실행되는 이슈
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/watching_video/WatchingVideoScreen.kt
Labels: android, fix

#188 자동 로그인 기능 구현
  client/data/src/main/java/com/everyone/data/remote/RemoteConstants.kt
  client/data/src/main/java/com/everyone/data/repository/UserRepositoryImpl.kt
  client/domain/src/main/java/com/everyone/domain/repository/UserRepository.kt
  client/domain/src/main/java/com/everyone/domain/usecase/LoginUseCase.kt
  client/presentation/src/main/java/com/everyone/movemove_android/di/UseCaseModule.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/sign_up/SignUpViewModel.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/starting/StartingScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/starting/StartingViewModel.kt
Labels: android, feat

#195 Kotest 및 MockK 적용
  client/data/build.gradle.kts
  client/data/src/androidTest/java/com/everyone/data/ExampleInstrumentedTest.kt
  client/data/src/test/java/com/everyone/data/ExampleUnitTest.kt
  client/domain/build.gradle.kts
  client/domain/src/androidTest/java/com/everyone/domain/ExampleInstrumentedTest.kt
  client/domain/src/test/java/com/everyone/domain/ExampleUnitTest.kt
  client/gradle/libs.versions.toml
  client/presentation/build.gradle.kts
  client/presentation/src/androidTest/java/com/everyone/movemove_android/ExampleInstrumentedTest.kt
  client/presentation/src/test/java/com/everyone/movemove_android/ExampleUnitTest.kt
Labels: android, chore

#197 내가 점수를 남긴 영상 모아보기
  client/data/src/main/java/com/everyone/data/remote/RemoteConstants.kt
  client/data/src/main/java/com/everyone/data/remote/model/RaterResponse.kt
  client/data/src/main/java/com/everyone/data/remote/model/VideosRatedItemResponse.kt
  client/data/src/main/java/com/everyone/data/remote/model/VideosRatedResponse.kt
  client/data/src/main/java/com/everyone/data/repository/UserRepositoryImpl.kt
  client/domain/src/main/java/com/everyone/domain/model/Rater.kt
  client/domain/src/main/java/com/everyone/domain/model/VideosRated.kt
  client/domain/src/main/java/com/everyone/domain/model/VideosRatedItem.kt
  client/domain/src/main/java/com/everyone/domain/repository/UserRepository.kt
  client/domain/src/main/java/com/everyone/domain/usecase/GetUsersVideosRatedUseCase.kt
  client/presentation/src/main/AndroidManifest.xml
  client/presentation/src/main/java/com/everyone/movemove_android/ui/rating_video/RatingVideoActivity.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/rating_video/RatingVideoContract.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/rating_video/RatingVideoScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/rating_video/RatingVideoViewModel.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/profile/ProfileScreen.kt
  client/presentation/src/main/res/values/strings.xml
Labels: android, feat

#212 업로드 한 비디오 API 응답 데이터 수정
  server/src/user/dto/uploaded-video-response.dto.ts
  server/src/user/dto/user.dto.ts
  server/src/user/user.controller.ts
  server/src/user/user.service.ts
Labels: backend, refactor

#215 API 필드명 변경에 따른 수정
  client/data/src/main/java/com/everyone/data/remote/RemoteConstants.kt
  client/data/src/main/java/com/everyone/data/repository/UserRepositoryImpl.kt
Labels: android, fix

#202 비디오 스트리밍 페이지, Screen에서 Activity로 변경
  client/data/src/main/java/com/everyone/data/remote/model/UploaderResponse.kt
  client/domain/src/main/java/com/everyone/domain/model/Uploader.kt
  client/presentation/src/main/AndroidManifest.xml
  client/presentation/src/main/java/com/everyone/movemove_android/ui/container/ContainerActivity.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/container/ContainerScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/home/HomeScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/home/HomeViewModel.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/VideoPagingSource.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/WatchingVideoActivity.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/WatchingVideoContract.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/WatchingVideoScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/WatchingVideoViewModel.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/category/CategoryScreen.kt
Labels: android, refactor

#213 홈 페이지 코드 리팩토링
  client/data/src/main/java/com/everyone/data/repository/AdsRepositoryImpl.kt
  client/data/src/main/java/com/everyone/data/repository/VideosRepositoryImpl.kt
  client/domain/src/main/java/com/everyone/domain/repository/AdsRepository.kt
  client/domain/src/main/java/com/everyone/domain/repository/VideosRepository.kt
  client/domain/src/main/java/com/everyone/domain/usecase/GetAdsUseCase.kt
  client/domain/src/main/java/com/everyone/domain/usecase/GetVideosTopRatedUseCase.kt
  client/domain/src/main/java/com/everyone/domain/usecase/GetVideosTrendUseCase.kt
  client/presentation/src/main/java/com/everyone/movemove_android/di/UseCaseModule.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/container/ContainerActivity.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/container/ContainerScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/home/HomeContract.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/home/HomeScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/home/HomeViewModel.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/WatchingVideoActivity.kt
Labels: android, refactor

#217 프로필 페이지 리팩토링
  client/data/src/main/java/com/everyone/data/remote/model/VideosListResponse.kt
  client/data/src/main/java/com/everyone/data/repository/UserRepositoryImpl.kt
  client/data/src/main/java/com/everyone/data/repository/VideosRepositoryImpl.kt
  client/domain/src/main/java/com/everyone/domain/model/VideosList.kt
  client/domain/src/main/java/com/everyone/domain/repository/UserRepository.kt
  client/domain/src/main/java/com/everyone/domain/repository/VideosRepository.kt
  client/domain/src/main/java/com/everyone/domain/usecase/GetUsersVideosUploadedUseCase.kt
  client/domain/src/main/java/com/everyone/domain/usecase/GetVideosTopRatedUseCase.kt
  client/domain/src/main/java/com/everyone/domain/usecase/GetVideosTrendUseCase.kt
  client/presentation/src/main/AndroidManifest.xml
  client/presentation/src/main/java/com/everyone/movemove_android/ui/container/ContainerActivity.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/container/ContainerScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/my/MyActivity.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/profile/ProfileActivity.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/profile/ProfileContract.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/profile/ProfileScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/profile/ProfileViewModel.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/rating_video/RatingVideoViewModel.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/home/HomeContract.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/home/HomeScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/home/HomeViewModel.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/profile/ProfileContract.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/profile/ProfileScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/profile/ProfileViewModel.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/WatchingVideoActivity.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/WatchingVideoScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/WatchingVideoViewModel.kt
Labels: android, fix, refactor

#216 비디오 업로드 리팩토링
  client/presentation/src/main/java/com/everyone/movemove_android/ui/Dialogs.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/uploading_video/UploadingVideoContract.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/uploading_video/UploadingVideoScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/uploading_video/UploadingVideoViewModel.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/uploading_video/VideoTrimmer.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/util/ComposableUtil.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/util/VideoUtil.kt
  client/presentation/src/main/res/values/strings.xml
Labels: android, feat, refactor

#219 내가 점수를 남긴 영상 모아보기 리팩토링
  client/data/src/main/java/com/everyone/data/remote/RemoteConstants.kt
  client/data/src/main/java/com/everyone/data/remote/model/VideosRatedItemResponse.kt
  client/data/src/main/java/com/everyone/data/repository/UserRepositoryImpl.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/rating_video/RatingVideoActivity.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/rating_video/RatingVideoContract.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/rating_video/RatingVideoScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/rating_video/RatingVideoViewModel.kt
Labels: android, fix, refactor

#222 비디오 스트리밍 페이지 리팩토링
  client/data/src/main/java/com/everyone/data/repository/VideosRepositoryImpl.kt
  client/domain/src/main/java/com/everyone/domain/repository/VideosRepository.kt
  client/domain/src/main/java/com/everyone/domain/usecase/GetVideosRandomUseCase.kt
  client/domain/src/main/java/com/everyone/domain/usecase/PutVideosRatingUseCase.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/home/HomeScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/WatchingVideoActivity.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/WatchingVideoContract.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/WatchingVideoScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/WatchingVideoViewModel.kt
Labels: android, feat, refactor

#224 로그인 및 가입 예외 처리
  client/presentation/src/main/java/com/everyone/movemove_android/ui/sign_up/SignUpContract.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/sign_up/SignUpScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/sign_up/SignUpViewModel.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/starting/StartingViewModel.kt
  client/presentation/src/main/res/values/strings.xml
Labels: android, feat

#223 프로필 편집 화면 구현
  client/data/src/main/java/com/everyone/data/remote/RemoteConstants.kt
  client/data/src/main/java/com/everyone/data/repository/UserRepositoryImpl.kt
  client/domain/src/main/java/com/everyone/domain/repository/UserRepository.kt
  client/domain/src/main/java/com/everyone/domain/usecase/GetPresignedUrlProfileUseCase.kt
  client/domain/src/main/java/com/everyone/domain/usecase/GetProfileUseCase.kt
  client/domain/src/main/java/com/everyone/domain/usecase/PatchUserProfileUseCase.kt
  client/presentation/src/main/AndroidManifest.xml
  client/presentation/src/main/java/com/everyone/movemove_android/di/UseCaseModule.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/edit_profile/EditProfileActivity.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/edit_profile/EditProfileContract.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/edit_profile/EditProfileScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/edit_profile/EditProfileViewModel.kt
Labels: android, feat

#229 MY화면 API 연결 및 버튼클릭 이벤트 추가
  client/presentation/src/main/java/com/everyone/movemove_android/ui/my/MyContract.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/my/MyScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/my/MyViewModel.kt
Labels: android, feat

#232 인코딩 응답 수정
  server/.gitignore
  server/src/exceptions/encoding-action-fail.exception.ts
  server/src/exceptions/enum/exception.enum.ts
  server/src/user/user.service.ts
  server/src/video/video.controller.ts
  server/src/video/video.service.ts
Labels: backend, feat

#234 비디오 삭제 및 조회 예외처리
  server/.gitignore
  server/src/auth/auth.controller.ts
  server/src/user/user.service.ts
Labels: backend, fix

#238 비디오 스트리밍 페이지 예외처리
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/WatchingVideoContract.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/WatchingVideoScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/WatchingVideoViewModel.kt
Labels: android, feat, fix

#235 홈 페이지 예외처리
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/home/HomeContract.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/home/HomeScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/home/HomeViewModel.kt
  client/presentation/src/main/res/values/strings.xml
Labels: android, feat

#243 비디오 응답 시 userRating 추가
  .vscode/settings.json
  server/src/user/user.service.ts
  server/src/video/dto/video-response.dto.ts
  server/src/video/video.controller.ts
  server/src/video/video.service.ts
Labels: backend, feat

#241 Clova GreenEye API 요청
  server/src/auth/auth.guard.ts
  server/src/auth/auth.service.ts
  server/src/exceptions/enum/exception.enum.ts
  server/src/exceptions/greeneye-action-fail.exception.ts
  server/src/exceptions/greeneye-api-fail.exception.ts
  server/src/ncpAPI/cloud-function/greeneye-action.js
  server/src/ncpAPI/greenEye.ts
  server/src/video/video.service.ts
Labels: backend, feat

#245 프레임 획득 리팩토링
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/uploading_video/FrameExtractor.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/uploading_video/UploadingVideoScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/uploading_video/UploadingVideoViewModel.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/starting/StartingViewModel.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/util/VideoUtil.kt
Labels: android, refactor

#240 프로필 페이지 예외처리
  client/presentation/src/main/java/com/everyone/movemove_android/ui/CommonComposables.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/profile/ProfileActivity.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/profile/ProfileContract.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/profile/ProfileScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/profile/ProfileViewModel.kt
  client/presentation/src/main/res/values/strings.xml
Labels: android, feat, fix

#249 구글 idToken 검증
  server/package-lock.json
  server/package.json
  server/src/auth/auth.controller.ts
  server/src/auth/auth.service.ts
  server/src/auth/dto/signin-request.dto.ts
  server/src/auth/dto/signup-request.dto.ts
  server/src/exceptions/enum/exception.enum.ts
  server/src/exceptions/inconsistent-google-uuid.exception.ts
  server/src/exceptions/invalid-google-idToken.exception.ts
  server/yarn.lock
Labels: backend, feat

#250 카카오 IdToken 검증
  server/src/auth/auth.controller.ts
  server/src/auth/auth.service.ts
  server/src/auth/dto/signup-request.dto.ts
  server/src/exceptions/enum/exception.enum.ts
  server/src/exceptions/inconsistent-kakao-uuid.exception.ts
  server/src/exceptions/invalid-kakao-idtoken.exception.ts
Labels: backend, feat

#253 업로드 관련 추가 예외 처리
  client/data/src/main/java/com/everyone/data/remote/NetworkHandler.kt
  client/data/src/main/java/com/everyone/data/repository/AdsRepositoryImpl.kt
  client/data/src/main/java/com/everyone/data/repository/VideosRepositoryImpl.kt
  client/domain/src/main/java/com/everyone/domain/repository/VideosRepository.kt
  client/domain/src/main/java/com/everyone/domain/usecase/GetVideoWithIdUseCase.kt
  client/presentation/src/main/java/com/everyone/movemove_android/di/UseCaseModule.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/uploading_video/UploadingVideoContract.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/uploading_video/UploadingVideoScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/uploading_video/UploadingVideoViewModel.kt
Labels: android, feat, fix, refactor

#252 점수 등록 리팩토링
  client/data/src/main/java/com/everyone/data/remote/model/VideoResponse.kt
  client/domain/src/main/java/com/everyone/domain/model/Video.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/WatchingVideoScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/WatchingVideoViewModel.kt
  client/presentation/src/main/res/values/strings.xml
Labels: android, feat, refactor

#257 로그인, 회원가입 API 명세 변경
  client/data/src/main/java/com/everyone/data/remote/RemoteConstants.kt
  client/data/src/main/java/com/everyone/data/repository/UserRepositoryImpl.kt
  client/domain/src/main/java/com/everyone/domain/repository/UserRepository.kt
  client/domain/src/main/java/com/everyone/domain/usecase/GetProfileImageUploadUrlUseCase.kt
  client/domain/src/main/java/com/everyone/domain/usecase/LoginUseCase.kt
  client/domain/src/main/java/com/everyone/domain/usecase/SignUpUseCase.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/UiConstants.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/sign_up/SignUpActivity.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/sign_up/SignUpViewModel.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/starting/StartingContract.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/starting/StartingScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/starting/StartingViewModel.kt
Labels: android, feat, refactor

#256 홈 페이지 UI 리팩토링
  client/presentation/src/main/java/com/everyone/movemove_android/ui/CommonComposables.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/container/ContainerScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/home/HomeContract.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/home/HomeScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/home/HomeViewModel.kt
  client/presentation/src/main/res/values/strings.xml
Labels: android, feat, refactor

#258 비디오 스트리밍 페이지 UI 및 에러 리팩토링
  client/presentation/src/main/java/com/everyone/movemove_android/ui/theme/Color.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/WatchingVideoContract.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/WatchingVideoScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/WatchingVideoViewModel.kt
  client/presentation/src/main/res/values/strings.xml
Labels: android, feat, refactor

#262 인코딩 중에도 동영상 재생 되는 오류 수정
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/uploading_video/UploadingVideoContract.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/uploading_video/UploadingVideoScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/uploading_video/UploadingVideoViewModel.kt
  client/presentation/src/main/res/values/strings.xml
Labels: android, fix

#267 카카오톡 앱 없이 로그인 구현
  client/presentation/src/main/java/com/everyone/movemove_android/ui/starting/StartingScreen.kt
Labels: android, feat

#264 점수 남기기에 슬라이더 위 라벨 개선
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/WatchingVideoScreen.kt
Labels: android, fix

#268 액티비티 세로 모드 고정
  client/presentation/src/main/AndroidManifest.xml
Labels: android, fix

#269 비디오 스트리밍 비디오 크기 대응
  client/gradle/libs.versions.toml
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/WatchingVideoScreen.kt
Labels: android, fix

#270 프레임을 획득할 수 없는 영상에 대한 예외 처리
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/uploading_video/FrameExtractor.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/uploading_video/UploadingVideoViewModel.kt
  client/presentation/src/main/res/values/strings.xml
Labels: android, fix

#271 Docs/readme
  README.md
Labels: docs

#273 라이프 사이클을 통한 상태 업데이트
  client/presentation/src/main/java/com/everyone/movemove_android/ui/profile/ProfileScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/rating_video/RatingVideoScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/home/HomeContract.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/home/HomeScreen.kt
  client/presentation/src/main/java/com/everyone/movemove_android/ui/screens/home/HomeViewModel.kt
Labels: android, feat

#275 랜덤 비디오 응답 및 별점 준 비디오 응답 버그 수정
  server/src/user/user.service.ts
  server/src/video/video.service.ts
Labels: backend, fix

#281 유저가 업로드한 영상 응답 버그 수정
  server/src/action/action.controller.ts
  server/src/user/user.controller.ts
  server/src/user/user.service.ts
  server/src/video/video.controller.ts
  server/src/video/video.service.ts
Labels: backend, fix

#283 프로필 이미지 미등록시 안내 문구 출력
  client/presentation/src/main/java/com/everyone/movemove_android/ui/sign_up/SignUpScreen.kt
  client/presentation/src/main/res/values/strings.xml
Labels: android, feat

#284 점수 등록 시 스크롤이 아닌 터치를 할 경우 스낵바에 잘못된 점수가 표시
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/WatchingVideoScreen.kt
Labels: android, fix

#285 영상 재생 시, 영상 배경이 흰색인 경우 좌측 상단에 카테고리 변경 글씨가 잘 안보이는 이슈 해결
  client/presentation/src/main/java/com/everyone/movemove_android/ui/watching_video/WatchingVideoScreen.kt
Labels: android, refactor

#287 리드미 변경
  README.md
Labels: docs
